/*body {
    background-image: url('images/healthbg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }*/
  .crd-pl{
  	color: #0F6363;
  }
 
  